html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px
  }

  @include respond(big-desk) {
    font-size: 75%; //1 rem = 12px
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-land) {
    padding: 1rem; //1 rem = 9px
  }

  @include respond(tab-port) {
    padding: 0; //1 rem = 8px
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}